<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<style>
    table, th, td {
  border:1px solid black;
}
body {
              background-color: #C2DED1;
            }
            
            h1 {
              color: #354259;
              text-align: center;
            }
            
            p {
              font-family: verdana;
              font-size: 20px;
              text-align: center;
            }
</style>
<body>
    <h1><%= title %></h1>
<%- message %>
<%- table %>
</body>
</html>